In [1]:
import pandas as pd

In [10]:
countries = pd.read_json('countries.json')
countries.to_dict(orient = 'records')

[{'value': 2, 'key': 'Argentina'},
 {'value': 4, 'key': 'Australia'},
 {'value': 7, 'key': 'Austria'},
 {'value': 5, 'key': 'Belgium'},
 {'value': 9, 'key': 'Canada'},
 {'value': 1, 'key': 'China'},
 {'value': 1, 'key': 'Czechoslovakia'},
 {'value': 9, 'key': 'Denmark'},
 {'value': 1, 'key': 'Finland'},
 {'value': 38, 'key': 'France'},
 {'value': 1, 'key': 'Germany'},
 {'value': 71, 'key': 'Germany'},
 {'value': 1, 'key': 'Hungary'},
 {'value': 1, 'key': 'India'},
 {'value': 1, 'key': 'Ireland'},
 {'value': 5, 'key': 'Israel'},
 {'value': 7, 'key': 'Italy'},
 {'value': 17, 'key': 'Japan'},
 {'value': 5, 'key': 'Norway'},
 {'value': 1, 'key': 'Portugal'},
 {'value': 3, 'key': 'Russia'},
 {'value': 1, 'key': 'Spain'},
 {'value': 17, 'key': 'Sweden'},
 {'value': 24, 'key': 'Switzerland'},
 {'value': 1, 'key': 'Tunisia'},
 {'value': 379, 'key': 'USA'},
 {'value': 9, 'key': 'USSR'},
 {'value': 93, 'key': 'United'},
 {'value': 10, 'key': 'the'},
 {'value': 265, 'key': 'null'}]

In [8]:
codes = pd.read_json("ccodes.json")
codes

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,,142,034,
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,,150,154,
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,,150,039,
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,,002,015,
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,,009,061,
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,,009,061,
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,,002,015,
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,,142,145,
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014

In [37]:
cm = [
 {'value': 2, 'key': 'Argentina'},
 {'value': 4, 'key': 'Australia'},
 {'value': 7, 'key': 'Austria'},
 {'value': 5, 'key': 'Belgium'},
 {'value': 9, 'key': 'Canada'},
 {'value': 1, 'key': 'China'},
 {'value': 1, 'key': 'Czechia'},
 {'value': 9, 'key': 'Denmark'},
 {'value': 1, 'key': 'Finland'},
 {'value': 38, 'key': 'France'},
 {'value': 72, 'key': 'Germany'},
 {'value': 1, 'key': 'Hungary'},
 {'value': 1, 'key': 'India'},
 {'value': 1, 'key': 'Ireland'},
 {'value': 5, 'key': 'Israel'},
 {'value': 7, 'key': 'Italy'},
 {'value': 17, 'key': 'Japan'},
 {'value': 5, 'key': 'Norway'},
 {'value': 1, 'key': 'Portugal'},
 {'value': 3, 'key': 'Russia'},
 {'value': 1, 'key': 'Spain'},
 {'value': 17, 'key': 'Sweden'},
 {'value': 24, 'key': 'Switzerland'},
 {'value': 1, 'key': 'Tunisia'},
 {'value': 379, 'key': 'United States of America'},
 {'value': 9, 'key': 'Russian Federation'},
 {'value': 93, 'key': 'United Kingdom of Great Britain and Northern Ireland'},
 {'value': 10, 'key': 'Netherlands'},
 {'value': 265, 'key': 'null'}
]

cm = {c['key']:c['value'] for c in cm}
len(cm)

28

In [27]:
codes['prizes_won'] = codes.name.map(cm)
codes.sort_values('prizes_won', ascending=False)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,prizes_won
235,United States of America,US,USA,840,ISO 3166-2:US,Americas,Northern America,,019,021,,379.0
83,Germany,DE,DEU,276,ISO 3166-2:DE,Europe,Western Europe,,150,155,,72.0
76,France,FR,FRA,250,ISO 3166-2:FR,Europe,Western Europe,,150,155,,38.0
215,Switzerland,CH,CHE,756,ISO 3166-2:CH,Europe,Western Europe,,150,155,,24.0
112,Japan,JP,JPN,392,ISO 3166-2:JP,Asia,Eastern Asia,,142,030,,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,,009,061,,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,,002,015,,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,,142,145,,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014,NaN
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,002,202,014,NaN

In [48]:
set(codes.name[codes.prizes_won.notnull()]).difference(set(cm.keys()))

set()

In [55]:
set(cm.keys()) - set(codes.name[codes.prizes_won.notnull()])

{'Czech Republic', 'Russia', 'United Kingdom', 'null'}

In [59]:
codes[codes.name.str.contains("United Kingdom")]

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,prizes_won
234,United Kingdom of Great Britain and Northern I...,GB,GBR,826,ISO 3166-2:GB,Europe,Northern Europe,,150,154,,NaN