In [ ]:
import pandas as pd

In [46]:
countries = pd.read_json('nobellaureates.geojson')
countries['borncountrycode3'] = countries.borncountrycode.map(ccodemap)
countries['diedcountrycode3'] = countries.borncountrycode.map(ccodemap)
countries.to_json('nobellaureates.json', orient='records')

In [42]:
codes = pd.read_json("ccodes.json")
codes[['alpha-2','alpha-3']]

ccodemap = codes.set_index('alpha-2').to_dict()['alpha-3']

In [ ]:
cm = [
 {'value': 2, 'key': 'Argentina'},
 {'value': 4, 'key': 'Australia'},
 {'value': 7, 'key': 'Austria'},
 {'value': 5, 'key': 'Belgium'},
 {'value': 9, 'key': 'Canada'},
 {'value': 1, 'key': 'China'},
 {'value': 1, 'key': 'Czechia'},
 {'value': 9, 'key': 'Denmark'},
 {'value': 1, 'key': 'Finland'},
 {'value': 38, 'key': 'France'},
 {'value': 72, 'key': 'Germany'},
 {'value': 1, 'key': 'Hungary'},
 {'value': 1, 'key': 'India'},
 {'value': 1, 'key': 'Ireland'},
 {'value': 5, 'key': 'Israel'},
 {'value': 7, 'key': 'Italy'},
 {'value': 17, 'key': 'Japan'},
 {'value': 5, 'key': 'Norway'},
 {'value': 1, 'key': 'Portugal'},
 {'value': 1, 'key': 'Spain'},
 {'value': 17, 'key': 'Sweden'},
 {'value': 24, 'key': 'Switzerland'},
 {'value': 1, 'key': 'Tunisia'},
 {'value': 379, 'key': 'United States of America'},
 {'value': 12, 'key': 'Russian Federation'},
 {'value': 93, 'key': 'United Kingdom of Great Britain and Northern Ireland'},
 {'value': 10, 'key': 'Netherlands'},
 {'value': 265, 'key': 'null'}
]

cm = {c['key']:c['value'] for c in cm}
len(cm)

In [ ]:
codes['prizes_won'] = codes.name.map(cm)
codes.sort_values('prizes_won', ascending=False)

In [ ]:
set(codes.name[codes.prizes_won.notnull()]).difference(set(cm.keys()))

In [ ]:
set(cm.keys()) - set(codes.name[codes.prizes_won.notnull()])

In [ ]:
codes['alpha-2'] = codes['alpha-2'].str.lower()

In [ ]:
codes = codes.sort_values('prizes_won', ascending=False)
codes[codes.prizes_won.notnull()].to_json('countries.json', orient='records')

## Preparaing Mapping Data

In [5]:
import geopandas as gpd
import pandas as pd
import plotly.express as px

In [26]:
map = gpd.read_file('nobel-prize-laureates.geojson')

,id,firstname,surname,born,died,borncountry,borncountrycode,borncity,diedcountry,diedcountrycode,...,gender,year,category,overallmotivation,motivation,name,city,country,geo_shape,geo_point_2d
0,827,Makoto,Kobayashi,1944-04-07,None,Japan,JP,Nagoya,None,None,...,male,2008,Physics,None,"""for the discovery of the origin of the broken...",High Energy Accelerator Research Organization ...,Tsukuba,Japan,None,"{'lon': 137.97995950757186, 'lat': 37.55262259..."
1,879,Brian,Kobilka,1955-05-30,None,USA,US,Little Falls MN,None,None,...,male,2012,Chemistry,None,"""for studies of G-protein-coupled receptors""",Stanford University School of Medicine,Stanford CA,USA,None,"{'lon': -112.49433391594603, 'lat': 45.6875333..."
2,910,Stefan W.,Hell,1962-12-23,None,Romania,RO,Arad,None,None,...,male,2014,Chemistry,None,"""for the development of super-resolved fluores...",Max Planck Institute for Biophysical Chemistry,GÃ¶ttingen,Germany,None,"{'lon': 10.381710872747187, 'lat': 51.10627343..."
3,818,Intergovernmental Panel on Climate Change,None,None,None,None,None,None,None,None,...,org,2007,Peace,None,"""for their efforts to build up and disseminate...",None,None,None,None,None
4,296,Ivan,Pavlov,1849-09-14,1936-02-27,Russia,RU,Ryazan,Russia,RU,...,male,1904,Medicine,None,"""in recognition of his work on the physiology ...",Military Medical Academy,St. Petersburg,Russia,None,"{'lon': 96.6934557674586, 'lat': 61.9843417375..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,673,Wislawa,Szymborska,1923-07-02,2012-02-01,Poland,PL,Bnin (now KÃ³rnik),Poland,PL,...,female,1996,Literature,None,"""for poetry that with ironic precision allows ...",None,None,None,None,None
985,698,Richard,Stone,1913-08-30,1991-12-06,United Kingdom,GB,London,United Kingdom,GB,...,male,1984,Economics,None,"""for having made fundamental contributions to ...",University of Cambridge,Cambridge,United Kingdom,None,None
986,733,Daniel L.,McFadden,1937-07-29,None,USA,US,Raleigh NC,None,None,...,male,2000,Economics,None,"""for his development of theory and methods for...",University of California,Berkeley CA,USA,None,"{'lon': -112.49433391594603, 'lat': 45.6875333..."
987,457,Stanley B.,Prusiner,1942-05-28,None,USA,US,Des Moines IA,None,None,...,male,1997,Medicine,None,"""for his discovery of Prions - a new biologica...",University of California School of Medicine,San Francisco CA,USA,None,"{'lon': -112.49433391594603, 'lat': 45.6875333..."
988,820,Leonid,Hurwicz,1917-08-21,2008-06-24,Russia,RU,Moscow,USA,US,...,male,2007,Economics,None,"""for having laid the foundations of mechanism ...",University of Minnesota,Minneapolis MN,USA,None,"{'lon': -112.49433391594603, 'lat': 45.6875333..."

In [30]:
map = map.drop(columns=['geometry'])

KeyError: "['geometry'] not found in axis"

In [32]:
map.to_json('nobellaureates.json')

In [ ]:
fig = px.choropleth(df['prizes_won'], geojson=map, locations='prizes_won', color='prizes_won',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="world",
                           labels={'prizes_won':'Nobel Prizes won'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()